<body>
<header>
  <div class="grid">
    <div class="row">
      <div class="col-3">
        <a href={{site.baseurl}}{% link index.html %}>
          <img  src={{site.baseurl}}{% link images/toadstools.jpg %}>
        </a>
      </div>
      <div class="col-3">
        <a href={{site.baseurl}}{% link blog/index.html %}>
          <img  src={{site.baseurl}}{% link images/blog.jpg %}>
        </a>
      </div>
      <div class="col-3">
        <a href={{site.baseurl}}{% link art/index.html %}>
          <img  src={{site.baseurl}}{% link images/art.jpg %}>
        </a>
      </div>
      <div class="col-3">
        <a href={{site.baseurl}}{% link poems/index.html %}>
          <img  src={{site.baseurl}}{% link images/poems.jpg %}>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img src={{site.baseurl}}{% link images/header.jpg %}>
      </div>
    </div>
  </div>
</header>
</body>
